.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.partners-wrapper {
    overflow: hidden;
    width: 100%;
}

.partners-track {
    display: flex;
}

.partners-box {
    flex: 0 0 calc(100% / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media (max-width: 1280px) {
    .partners-box {
        flex: 0 0 calc(100% / 5);
    }
}

@media (max-width: 1024px) {
    .partners-box {
        flex: 0 0 calc(100% / 4);
    }
}

@media (max-width: 768px) {
    .partners-box {
        flex: 0 0 calc(100% / 3);
    }
}

@media (max-width: 480px) {
    .partners-box {
        flex: 0 0 calc(100% / 2);
    }
}

.partners-box img {
    max-width: 150px;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.partners-box:hover img {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.1);
}
