.review-5-stars {
    width: 130px;
    margin-bottom: 3px;
}

.check-more {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
    border-radius: 10px;
    /*background: ;*/
    /*color: #4b2b2b;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.25s ease;
}

.check-more:hover {
    /*background: #ffe8d1;*/
    transform: translateY(-1px);
}

.google-icon {
    width: 22px;
    height: 22px;
}

.arrow {
    font-size: 18px;
    transition: transform 0.25s ease;
}

.check-more:hover .arrow {
    transform: translateX(4px);
}